body {
  margin: 0;
  padding: 0;
  background: url(./assets/images/background-pattern-mobile.svg) no-repeat
      center top,
    hsl(275, 100%, 97%);
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
#main-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: hsl(0, 100%, 100%);
  max-width: 500px;
}
#title {
  display: flex;
  padding: 0;
}
#title img {
  width: 25px;
  margin-right: 20px;
}
#title h1 {
  font-size: 25px;
  font-weight: 700;
  color: hsl(292, 42%, 14%);
}
.faq {
  border-bottom: 1px solid hsl(275, 100%, 97%);
  cursor: pointer;
}

#fourth {
  border-bottom: 0;
}
.question-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}
.questions {
  font-size: 16px;
  font-weight: 600;
  color: hsl(292, 42%, 14%);
  padding-top: 0;
  margin: 0;
}
.questions:hover {
  filter: brightness(4);
}
.icons {
  width: 25px;
}
.answers {
  font-size: 16px;
  font-weight: 400;
  color: hsl(292, 16%, 49%);
}
.hidden {
  display: none;
}

@media only screen and (min-width: 400px) {
  body {
    background: url(./assets/images/background-pattern-desktop.svg) no-repeat
        center top,
      hsl(275, 100%, 97%);
    background-size: 100% auto;
  }
}
